[2013-11-26 03:00] bf4 opened #1 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](https://github.com/rubygems/rubygems/pull/713) of your last release.

  via e.g.

[code]

  Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the REA

[2014-02-26 11:21] chrisdpeters opened #2 "Related counter_cache columns not updated when calling revert!"

[2014-03-06 13:40] chrisdpeters opened #3 "draft_publication_dependencies not honoring drafts when draft is an update"
Need to review logic for `draft_reversion_dependencies` as well.

Identified the fix and working on writing tests that capture the bug before applying the fix.

[2014-03-07 12:55] #3 closed, assigned to nobody

[2014-03-07 13:10] #1 closed, assigned to nobody

[2014-06-02 12:35] chrisdpeters opened #4 "Included model scopes break on includes and joins"
Example query:

[code]

Throws such an exception (in PostgreSQL):

[code]

[2014-06-03 12:41] #4 closed, assigned to nobody

[2014-07-25 00:20] npafundi opened #5 "Model attributes stored with JSON coder don't deserialize (via reify) correctly"
This is a great gem!  Even in the experimental state, it works incredibly well.

I found one issue when storing an attribute coded in JSON.  When I reify from a draft, the attribute is returned as an encoded String rather than the expected JSON object.

As a brief example, assume I have a model with a `settings` attribute that looks something like this:
[code]
In the database, the `settings` colum

[2014-08-11 12:05] chrisdpeters opened #6 "`skip` option not persisting skipped values correctly"
This demonstrates the bug:

[code]

[2014-08-11 17:19] npafundi opened #7 "Integrating with acts_as_list"
Hey Chris,

This is more question/discussion than issue, in case you want to tag as such.

In our application, we're using the [acts_as_list](https://github.com/swanandp/acts_as_list) gem to organize a few sortable objects.  If you're not familiar, acts_as_list essentially handles ordering items based on scope.

acts_as_list writes directly to the given model's table when updating the position col

[2014-08-14 11:09] #6 closed, assigned to nobody

[2014-08-21 17:15] #7 closed, assigned to nobody

[2014-10-31 17:55] chrisdpeters opened #8 "Update specs to use new community standards"
1. Get rid of `its`.

2. Use `expect` instead of shoulda matchers:

[code]
3. Hardcode version numbers into development dependencies. Right now when you run Bundler, it installs version of RSpec and other gems that are incompatible with the code I wrote.

[2015-02-03 18:08] batter opened #9 "Sinatra extension should not use Sinatra base namespace"
Hi, I'm the maintainer of [PaperTrail](https://github.com/airblade/paper_trail). We just had an issue filed against the PaperTrail repo, airblade/paper_trail#477, which was being caused by this gem.

I see that your gem here was cloned off of the PaperTrail source at one point.  I wanted to advise you to modify your `Sinatra` extension so that it is not namespaced under the `Sinatra` module, as th

[2015-02-04 13:44] chrisdpeters commented on #9
Thank you for the pointers; it makes things really easy for me to fix. I have not had an opportunity to try this gem with Sinatra yet, so your advice is invaluable!

[2015-03-23 23:00] npafundi opened #12 "JSON::ParserError when draft_destroying a widget which was just created"
Hey Chris,

It's been a (very) long time, but I'm finally looping back around to putting drafts into our application.  Today I ran across an issue, and I have a 100% reproducible case.

I created a simple app with the Postgres JSON data type (and used the install switch to enable it for drafts).  The app has a single table and model, `Widget`, and I added drafts to this table.

If I create a draft

[2015-03-24 22:24] npafundi opened #13 "[question] Having trouble running specs"
Hey Chris,

I forked draftsman to add a small piece of functionality, and wanted to send you a pull request.  However, I'm having trouble getting the specs to run, and didn't want to send a pull request without running (and adding) tests.

When I run `RAILS_ENV=test rake db:migrate` (or other db and spec tasks), I get:

[code]

I was following your listed steps in the "Contributing" section of the

[2015-03-30 21:57] chrisdpeters commented on #13
I believe this is because of the last part of my note in issue #8. I need to fix this ASAP. I will look at it this week.

Sorry about that.

[2015-03-30 22:09] npafundi commented on #13
Great, thanks for letting me know!

[2015-03-31 17:10] chrisdpeters commented on #13
Hmm, now that I look at your error closer, I think it's something else. Can you comment with your `Gemfile.lock` so I can see what versions of the different dependencies you're running?

[2015-03-31 17:16] npafundi commented on #13
If I run a `bundle install`, it changes only two lines in the `Gemfile.lock`.  `draftsman` is bumped to `0.3.1` (from 0.3.0), and `arel` is bumped to 4.0.2, from `4.0.1`.

Here's the whole file -- I added comments on the two changed lines:

[code]

[2015-04-02 19:10] npafundi commented on #12
I think I traced this issue, and might have a potential fix.  If you think this is the right fix, I'm happy to submit a PR.

In the `draft_destroy` method, the `previous_draft` is set, but the attributes are always serialized (even if they're JSON).  See https://github.com/liveeditor/draftsman/blob/master/lib/draftsman/model.rb#L234

I would propose changing the conditional to:
[code]

I believe t

[2015-04-02 19:10] npafundi commented on #12
I think I traced this issue, and might have a potential fix.  If you think this is the right fix, I'm happy to submit a PR.

In the `draft_destroy` method, the `previous_draft` is set, but the attributes are always serialized (even if they're JSON).  See https://github.com/liveeditor/draftsman/blob/master/lib/draftsman/model.rb#L234

I would propose changing the conditional to:
[code]

I believe t

[2015-04-03 13:30] #8 closed

[2015-04-03 18:10] #12 closed

[2015-04-03 18:13] chrisdpeters commented on #12
Can you try the latest from `master` and let me know if that fixes it?

Thanks for pinpointing it. I ended up creating a `previous_draft_col_is_json?` class method on `Draftsman::Draft` just to make sure it always does the right thing.

Oh, I like what you did with the `attrs` local variable, so I'll commit that in now too.

Thanks again. Made it much easier for me to fix!

[2015-04-03 19:43] chrisdpeters commented on #5
I wonder if this issue is still valid considering that the test suite runs on SQLite. Your usage of `store` may have been the issue in this case.

I'll close this for now. Perhaps we will hear from our friends running on other RDBMSes if this is still an issue.

[2015-04-03 19:49] #9 closed

[2015-04-03 19:50] chrisdpeters commented on #9
@rikkipitt Can you verify if this fixes the issue that you were encountering when mixing this with PaperTrail?

[2015-04-04 18:50] npafundi commented on #12
Yep, this works as well.  Thanks for putting in the fix!

[2015-04-04 19:13] npafundi commented on #13
Hey @chrisdpeters, I pulled in all the recent fixes and upgraded to ruby 2.2.1, then tried running the specs again.  That ended up fixing the issues above, but now the specs can't load draftsman:

[code]

I ran a `gem install draftsman`, and then I was finally able to create the database.  Moved back to the draftsman root, and it looks like I can finally run the tests.

Is there something else I s

[2015-04-04 20:39] rikkipitt commented on #9
Cheers @chrisdpeters, I'll take a look as soon as I get chance and let you know! Thanks for sorting this out!

Rikki

[2015-04-06 00:59] chrisdpeters opened #15 "Setup Travis CI for supported environments"

[2015-04-06 13:00] chrisdpeters opened #16 "Rename `draft_destroy` to `draft_destruction`"
This is more in line with the naming that Rails chooses for methods like `marked_for_destruction?`.

Add deprecation notice when `draft_destroy` is called.

[2015-04-06 13:32] chrisdpeters opened #17 "Fix "open-ended dependency on rake" warning on gem build"
[code]

[2015-04-06 22:46] npafundi opened #18 "Exception when destroying drafts"
Looks like a small problem with checking for the JSON data type in PostgreSQL; causes draft_destroy to fail.

[code]

I'll submit a pull request shortly that fixes this.

[2015-04-08 13:15] #18 closed

[2015-04-09 01:33] npafundi opened #22 "Exception on draft_destroy when has_one association is nil"
If a model's has_one association is nil, draft_destroy will throw an exception.

For example, if I have a `Parent` which `has_one :child`, but the child doesn't exist yet (so the association is nil), a draft_destroy will throw a NoMethodError.
[code]

This will occur in traditional and polymorphic `has_one` associations.

Edit: By simply adding a has_one association to the Parent class in the curr

[2015-05-05 21:05] #22 closed

[2015-05-05 21:08] #13 closed

[2015-05-20 01:57] npafundi opened #24 "Stack too deep: Error when running `bundle exec rails c` in app including draftsman"
Hey @chrisdpeters, I'm not sure how to fix this one, and thought you could help.

My application includes the draftsman gem, and I'm running Bundler version 1.9.9.  When I run `bundle exec rails c` in my application, I get the following error:
[code]
However, this shows up thousands of times, until I eventually get a "stack too deep" error, and the rails console never launches:
[code]

I can run `

[2015-05-20 02:00] npafundi commented on #24
Tagging @glosie -- he's interested in this fix as well.

[2015-05-20 13:07] chrisdpeters commented on #24
I think I should probably just remove the `bin` folder altogether. I took a look at some other gems' sources, and I have yet to see binstubs included with them.

[2015-05-20 13:32] chrisdpeters commented on #24
@npafundi @glosie Can you give that a try and see if it alleviates the issue?

[2015-05-20 17:20] npafundi commented on #24
Thanks for the quick fix @chrisdpeters!
The recursive warnings are gone, and the rails console loads properly.  I do still get the original warning, but only once:
[code]

At this point, it's no big deal.

[2015-05-21 19:28] #24 closed

[2015-05-24 14:36] chrisdpeters commented on #24
Is it in a Rails app?

Maybe look at the solution proposed here?
http://stackoverflow.com/a/23658355/175981

[2015-06-05 10:18] imton opened #25 "require self.item_type.underscore Crash"
Using  https://github.com/RubyMoney/money-rails

This line make it crash when reify is called.

[code]

https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/active_record/monetizable.rb#L250
[code]

[2015-06-16 19:10] imton opened #26 "Not working with Act-As-Taggable-On"
Guys,

I rely heavly on https://github.com/mbleigh/acts-as-taggable-on . There was no way I could make it work.

Issues:
- When used outside "only" it doesn't not bypasses it
- When used inside "only" it doesn't not publish tags correctly

[2015-06-17 05:13] imton commented on #26
Update: self solved. Please check my PR.

[2015-07-02 18:29] npafundi opened #28 "Skipped attributes aren't updated if a model has a draft"
Not a big issue, but there's a saving inconsistency when a model has a draft vs. when it does not.

When a model doesn't have a draft and both skipped and non-skipped attributes are updated, the skipped attributes are updated on the model, while the non-skipped attributes are updated in a new "update" draft.

When a model has a draft and both skipped and non-skipped attributes are updated, the ski

[2015-07-02 18:40] npafundi commented on #28
Not sure if this is helpful, but you can easily reproduce this in rails console by doing something like this:
[code]

[2015-07-08 15:51] #28 closed

[2015-07-22 23:26] npafundi opened #30 "draft_destroying dependencies doesn't take into account draft association changes"
Hey Chris, this is a weird one, and might be worth a conversation.

Let's say you have Book and Shelf models.  A Shelf has_many books, and a Book can only be on one Shelf at any given time.

Further, assume some Book is on Shelf 1, and you decide you want to move it to Shelf 2, and this is done via draftsman.  Your Book will have an association of Shelf 1 (its old location), and the Book's draft w

[2015-07-29 02:48] chrisdpeters commented on #30
Your description of the problem makes sense after thinking about it for a minute. Sounds like you guys are really pounding on this library, which is awesome.

I'm about to start using Draftsman more on my project and will look into this issue soon. Of course, I welcome any ideas on how to fix.

[2015-08-17 17:28] chrisdpeters opened #31 "Allow `whodunnit` column name to be configurable"
While it's a cute name from the paper_trail project, it's also super annoying. :)

[2015-08-19 03:53] chrisdpeters opened #32 "Draftsman.draft_class_name configuration not working"
This configuration doesn't seem to be picked up by the model:

[code]

It was working earlier running from my Mac on Rails 4.0. (I'm now running the app in Ubuntu, Rails 4.2)

In the meantime, I have to configure `has_drafts` like so:

[code]

[2015-08-21 21:08] npafundi commented on #30
Hey, sorry to leave this open so long.  We're definitely putting draftsman through its paces :)

There seem to be a few potential solutions, but they all have some downside. I'll throw everything out there, but I think a couple of these would be pretty bad solutions (and I'll try to explain why). I'm hoping that these can be a jumping off point for discussion, and hopefully we can find something t

[2015-08-21 21:39] chrisdpeters commented on #30
Thanks for the thoughtful writeup.

Initially, I'm wondering if your 3rd scenario would make sense, with a twist. If the database is Postgres, then use its faster indexes. If it's something else, then do the inefficient cleanup work using `reify`.

Perhaps let devs opt out of this logic via a global setting and/or model-level option and write their own management logic using background processing

[2015-08-25 05:59] dpaluy opened #33 "SerializedAttributes is deprecated in Rails 4.2.x, and will be removed in Rails 5"
I'm working with Rails 4.2 and I'm getting the following warning:

[code]

This issue is similar to https://github.com/airblade/paper_trail/issues/416

I added the following patch (to suppress deprecation warnings) https://github.com/dpaluy/draftsman/blob/afce35b3985c79760176f31710c11a77b1201f0e/config/initializers/draftsman.rb

[2015-09-26 23:56] hicklin-james opened #34 "`reify` doesn't work when model has an enum attribute"
I have a model defined like this:

[code]

When I try to call the `reify` method on a question draft, ActiveRecord throws an error:

`ArgumentError: You tried to define an enum named "question_response_type" on the model "Question", but this will generate a instance method "question_response_type=", which is already defined by another enum.`

Is there any way around this?

[2015-11-04 02:45] chrisdpeters opened #36 "Fails miserably with foreign keys"
Using Draftsman on a Rails 4.2 project, which adds foreign keys via the DB migrations.

So far, I've uncovered that calling `draft_update` to return a record back to its pre-draft state causes a `PG::ForeignKeyViolation` with Postgres.

I really need to get this repo running with Travis. (See #15.)

[2015-11-05 01:05] #36 closed

[2015-11-05 01:18] #33 closed

[2015-11-05 01:20] chrisdpeters commented on #33
@dpaluy Thank you for reporting this.

I noticed in your fork that you moved this over to an initializer instead of `spec/support`. Can you help me understand why? I'm not seeing this deprecation notice in my dev logs in the app that's using this gem, but obviously it is being spit out all over the place when running tests.

[2015-11-06 12:35] dpaluy commented on #33
@chrisdpeters I saw those warning in my main Rails app (4.2.4), thus I moved it to an initializer.

[2016-02-13 03:20] #16 closed

[2016-02-13 03:35] #17 closed

[2016-02-15 16:06] dedman commented on #34
For anyone else googling this issue, this is now fixed in the draftsman 0.3.7 release.

https://github.com/liveeditor/draftsman/releases/tag/v0.3.7

Thank you @bdunham.

[2016-02-15 19:21] chrisdpeters commented on #34
:+1: Thanks for reporting, @dedman.

I would really like to get some tests in there for this. I will open a new issue to make sure that happens.

[2016-02-15 19:21] #34 closed

[2016-02-15 19:24] chrisdpeters opened #37 "Tests for a model including an enum"
Per discussion in #34, we need to have some tests to make sure that Draftsman works with models containing enums moving forward.

If anyone would like to contribute, let us know. Otherwise, I'll get to this soon.

[2016-02-26 23:05] defbyte opened #39 "Uh oh, ActiveSupport::DeprecationException error when running generated migrations"
:palm_tree: Aloha! :palm_tree:

thanks very much for this gem! I'd been working on a very lo-fi version of this functionality, then said to heck with it and decided to check out your gem. I work on a lot of projects where publishing workflows are A Thing :tm:

So, I started to fire things up, got this error, and wanted to pass on a quick fix with PR #38

I hope to contribute more in the future, th

[2016-02-28 20:51] chrisdpeters commented on #39
Thank you, @defbyte! My goal is to get 0.4.0 out the door within a couple weeks, and this will certainly in there.

[2016-03-01 22:24] defbyte opened #40 "Docs say publish! is available on the model instance, but it is not"
The documentation states that `publish!` is available on a model instance that has_drafts, but the method is not actually available.

The documentation should be updated, or if in error, the `publish!` method should be available on the model instance.

[2016-03-04 20:17] ss44 opened #41 "Updating Drafts with Attachments"
Came across this issue when working with drafts that may have attachments on rails 3.2.8 (although suspect it affects newer versions).

Attachments are saved on save but doesn't look like draft_update triggers this method so images get marked to be saved but never moved since the save method doesn't get triggered.

While this is in an issue with paperclip, curious if there's a work around that you

[2016-03-04 21:26] ss44 commented on #41
For those coming across a similar issue I found adding,

:preserve_files => "true"

and running the manual attachment.save method to work.

[2016-03-08 14:38] chrisdpeters commented on #41
@ss44 This is an interesting scenario that I hadn't considered. In my project, I have a completely separate model for storing the attachment and link up the record in the main model with `belongs_to`. Then the part that is actually drafted is the foreign key to the appropriate attachment. That way, both file uploads are still preserved fully. Does that make sense?

Could you show a more complete e

[2016-03-08 14:40] #39 closed

[2016-03-28 12:47] #40 closed

[2016-03-28 12:48] chrisdpeters commented on #40
@defbyte Thanks for reporting.

[2016-03-28 16:03] chrisdpeters commented on #25
@imton I tried installing `money-rails` and replicating the problem, but everything seemed fine while `reify`ing both `create` and `update` drafts.

Can you provide more context for how you're receiving this error?

I'll be glad to re-open this issue if you can provide more details, or better yet, a simple repo with an app that isolates the problem.

[2016-03-28 16:03] #25 closed

[2016-03-28 22:28] #37 closed

[2016-04-09 20:56] jakehockey10 opened #43 "NoMethodError in DraftsController#update undefined method `to_i` for Hash"
My `User` model is a `Devise` model and I'm using the trackable functionality.  If I attempt to publish a change to the `User` model with `object_changes` unrelated to devise, I receive this error:

![screenshot from 2016-04-09 14-10-59](https://cloud.githubusercontent.com/assets/1821383/14406160/e8a7f4b0-fe5c-11e5-812a-137fa3ed0928.png)

It seems related to [this](https://github.com/michaeldv/awe

[2016-04-09 22:56] jakehockey10 commented on #43
Here is the failing test:

[code]

My user model looks like this:
[code]

And lastly, here is an example of my user fixtures (they all pretty much follow this format):
[code]

[2016-04-10 00:33] jakehockey10 commented on #43
Since my columns in the users table are of `inet` type, and the object column in the drafts table is of `json` type, the `IPAddr` types in ruby are being converted to json.  For example, while debugging, I realized this when I get the object through `object_attrs_for_draft_record` and the object at that point still has `IPAddr` type.  It is the act of storing this `object` object into a json forma

[2016-04-10 01:10] jakehockey10 commented on #43
I'm trying to wrap my head around whether or not this is an appropriate solution or not:

[code]

Right now, I can't think of any reason why I would need this serialized with the rest of the fields in my user model.  In fact, as you can see, I only currently care about the `role` attribute.  I've confirmed that if these are not included in the json serialization that the existing values for these

[2016-04-10 03:10] chrisdpeters commented on #43
@jakehockey10 Thanks for reporting this, digging in further, and reporting your progress. I could see if it would be possible to add some logic that treats the deserialization differently if the database column was of type `inet`.

Right now, the tests for Draftsman only run against SQLite. I need to get off my ass and add some CI profiles for the other open source DBs like Postgres in your case.

[2016-04-10 17:07] jakehockey10 commented on #43
I really like this gem a lot, so I figured I'd give a detailed report of what I was running into because it seemed that this would be a fairly common configuration (to have `devise` and `draftsman`).  I did a little investigation on what could be changed in the gem to account for this, but I couldn't find much about the json representation of a `IPAddr` instance.  Do you have some initial ideas on

[2016-04-10 19:13] chrisdpeters commented on #43
I'd have to look into it more, but perhaps `reify` could be modified to use
ActiveRecord's reflection functionality to treat `inet`-based attributes
differently when deserializing.

On Sunday, April 10, 2016, Jake Smith <notifications@github.com> wrote:

[2016-04-10 21:39] jakehockey10 commented on #31
Is this only intended to store a name of who did it?  I'm looking at how the `whodunnit` of draft records could point to the user that initiated the `draft_creation`.  The method `current_user` does work, but since the `whodunnit` column is a string, I just get something like `#<User:0x007f51605ca860>`.  Would you recommend changing the column type?  Or would you recommend me retrofitting the colu

[2016-04-10 22:45] defbyte commented on #31
as far as I know this is intended to capture the name (or any other data) about the current user.

I believe this was mired after the paper_trail gem.

You could setup your own method to create the string you need.

[2016-04-11 01:41] chrisdpeters commented on #31
@jakehockey10 @defbyte In paper_trail, I believe the examples record names of people for `whodunnit`, which I think is lame.

I tend to change `whodunnit` to an integer and store the user's ID so I can join it if need be. I'd much prefer that the column were named `user_id`, which is why I opened this issue to have the option of overriding it.

[2016-04-25 20:21] chrisdpeters opened #44 "Rails 5 compatibility"

[2016-06-07 20:38] katlandreth opened #46 "draft_update updates published object and draft"
I thought I could use Draftsman to save and update drafts of objects without also saving to the original object, but it looks like the draft_update method updates and saves both the original object and the draft.

Right now I'm saving an object (a post) as a draft until published, and I'm publishing it through a custom publish action in my controller. After publishing I'd like to be able to go bac

[2016-06-07 22:02] alexanderkustov commented on #46
I think you need to provide some examples of your custom publishing method.

So the `draft_update` method always updates the draft state of the object, if you wish to publish it you have the `publish!` which makes a release.

You can still go ahead and create more drafts which will remain draft until you hit another publish... that is how I'm using it.

[2016-06-07 22:41] katlandreth commented on #46
Thanks for taking the time to comment!

This is my publish method - it does use `publish!` to publish the draft.

[code]

After I publish though, all updates I make update the published post as well as the draft.

In the comments above the definition for `draft_update` I see this:

[code]

...which makes me think the draft_update method is _supposed to_ update the original object as well as the dr

[2016-06-08 07:29] alexanderkustov commented on #46
This is what i have only on my edit action as a before action.

[code]

Therefore i create new drafts upon the released version, but the currently published stays intact.

[2016-06-08 12:50] chrisdpeters commented on #46
@katlandreth What happens if you change the `update` action to look like this?

[code]

`#draft_creation` is intended to be use when you're creating a new record. `#draft_update` is intended to be used when you're updating a record. Think of these 2 methods as being focused on the `@entry` record, not the state of the `draft`. Hope that makes sense. I'll have to review if the docs could be clearer

[2016-06-08 14:37] katlandreth commented on #46
Thanks for the reply!

My update action looked like that when I initially set up Draftsman, but I was getting an "undefined method for nil..." error when I tried to update the post's draft after publishing it once . I assumed that was because the draft was being destroyed after publishing, so I added in the conditional to re-create a draft if the post didn't already have one and the error went awa

[2016-06-08 17:59] katlandreth commented on #46
I changed my update action to the above suggestion from @chrisdpeters.

Then I created a new unpublished post, added some text to the body of the post and submitted the form to hit the update action in my controller. Just like before, I can see in my server logs that the draft was updated, as well as the original post object (is that supposed to happen?).

I then published the post using a link th

[2016-06-08 18:19] katlandreth commented on #46
Annnnnd now it's working exactly as expected.

The only thing I changed between my last post and now was using `flash.now` instead of just `flash` in my update action. I don't think that would have been causing the issues I was having... must have fixed when changing the update action to remove that `if entry.draft?` conditional that used `draft_update` and `draft_create` in the update action... m

[2016-06-08 19:31] chrisdpeters commented on #46
@katlandreth Glad you got it sorted out. Thank you for sharing your experience.

I think that we will be able to make the API cleaner based on your feedback. I'll create a new issue for a `#save_draft` method that intelligently calls `#draft_creation` or `#draft_update` based on the state of the object being drafted..

[2016-06-08 19:36] chrisdpeters opened #47 "Add #save_draft method to classes initialized with #has_drafts"
Like AR's `#save`, it should intelligently call `#draft_creation` or `#draft_update` based on the state of the object being drafted.

Idea originally from #46.

[2016-08-20 16:31] #44 closed

[2016-09-30 18:49] alexey opened #48 "Problem with nested attributes"
Given:
[code]

the problem - nested object are created or destroyed twice(raising not found on second destroy).

Does anyone faced with similar problem ?

[2016-09-30 22:22] chrisdpeters commented on #48
@alexey I really hate to say this, but I would avoid nested attributes on models drafted with Draftsman.

If you're interested, I could share a form model that I created to handle this sort of thing. (I think I created a form model back in the day that mocked the nested attributes functionality while tricking the form in the view template into thinking `accepts_nested_attributes_for` was in use.)

[2016-10-01 13:05] alexey commented on #48
Hi @chrisdpeters, thanks for response, i thought about this solution but my currect form has many nested forms in it, it may be problem.
I have idea how to make it on controller level, will try and post result on that

[2016-10-04 19:20] chrisdpeters commented on #48
@alexey I would like to see support for nested attributes added, but I must admit that I do not have the need for it personally. The app that I'm working on uses Draftsman, but it is an API.

If you would like to work out the solution and submit a pull request, I'd be glad to integrate it as a new feature!

[2016-10-31 06:22] panaak opened #49 "irb: warn: can't alias context from irb_context."
when i load rails console with the latest rspec-rails (3.5.2) together with draftsman i get this warning.

[code]

[2016-11-01 03:25] #32 closed

[2016-11-01 03:26] chrisdpeters commented on #32
This was in fact working. Decided to write a couple tests to make sure that it keeps working.

[2016-11-01 03:33] chrisdpeters opened #50 "Add Draftsman.ignore_draft_id_attribute setting"
The purpose of this setting will be to not include `draft_id` in `Draft#object` and `Draft#object_changes`. It will be set to ignore by default.

When changed from the default, extra unneeded data is stored along with the draft, along with the potential to have unexpected results during object reification.

I'll need to experiment with this in the `previous_draft` attribute to make sure that omiss

[2016-11-02 01:25] #50 closed

[2016-11-02 12:44] #49 closed

[2016-11-02 12:45] chrisdpeters commented on #49
@panaak Can you try master and let me know if it's still an issue? If so, feel free to reopen this issue!

[2016-11-04 16:39] panaak commented on #49
ok, seems like the master (0.5.1) does not cause this issue anymore.

[2016-11-05 14:21] chrisdpeters opened #51 "Performance: skip reification logic on create drafts"
The drafted state is already stored in the item's record anyway. No need to do the extra work, so `Draftsman::Draft#reify` can just return the item.

[2016-11-05 14:31] chrisdpeters opened #52 "Performance: add options on `has_drafts` to whitelist or blacklist dependent associations"
Sometimes we may want to setup an aliased association with a scope, while including the original association as well.

I recently ran across the need to do something like this:

[code]

The problem is that Draftsman will inspect both of those associations when querying for reversion and publication dependencies, which is unnecessary in many cases.

It makes sense to allow the option to only have D

[2016-11-08 13:53] chrisdpeters opened #53 "Add option to not stash drafted data separately"
There are scenarios where it makes sense to stash drafted data and require reification to get it back. And #51 could potentially make it more performant in most situations.

There are other scenarios where you may be creating a service that is only concerned with drafted data, so reification is not required or necessary. I'm finding myself in that situation with my current project, and I'd imagine

[2016-11-10 03:32] chrisdpeters commented on #15
I'm going to call this done for now. Will be nice to test against Postgres and MySQL later on too, but need to move on for now.

[2016-11-10 03:32] #15 closed

[2016-11-11 03:18] chrisdpeters commented on #47
@npafundi I think that this is a good move for the API of this gem. It is a little confusing knowing when to call `#draft_creation` vs. `#draft_update`.

However, this could potentially affect how we do callbacks. If drafting behavior is moved into a single method, I'm not convinced that it would be clear to users of this gem when `*_draft_creation` vs. `*_draft_update` callbacks would be triggere

[2016-11-11 13:43] chrisdpeters opened #55 "Decide on changes for callbacks in response to new #save_draft method"
[I posed a question](https://github.com/liveeditor/draftsman/issues/47#issuecomment-259871404) to @npafundi here in #47. I've since merged into master so I can work on some other features without an awful merge conflict.

Let's go ahead and have the discussion and track progress with callbacks in this issue.

Here is the question:

[2016-11-11 13:43] #47 closed

[2016-11-11 14:17] #51 closed

[2016-11-11 18:59] npafundi commented on #55
Hey @chrisdpeters, thanks for reaching out! I think the changes in https://github.com/liveeditor/draftsman/issues/47 make a lot of sense, so changing the callbacks accordingly sounds good.

I used draftsman heavily on a previous project, but I've since moved to a new company and I don't recall which of the callbacks we were using. Regardless, this seems like a good API change for draftsman, and cr

[2016-11-12 00:47] chrisdpeters commented on #55
@npafundi Thanks for the feedback. Hope you're enjoying the new gig!

[2016-11-12 00:49] chrisdpeters opened #56 "Remove `#draft_creation` and `#draft_update` methods"

[2016-11-12 01:57] #55 closed

[2016-11-13 01:02] #31 closed

[2016-11-17 03:50] chrisdpeters commented on #53
I had added an item to have the new `stash_drafted_changes` setting affect `#draft_destruction`, and I just don't think that'll work out. Unfortunately, reverting a draft like that would make it difficult (if not impossible) to restore related records with foreign keys and such. The original record needs to be there until it's deleted for good.

[2016-11-17 03:50] #53 closed

[2017-01-28 15:59] jorgepinon commented on #48
Hey @chrisdpeters, thanks for this gem. It's perfect for my needs so far.

My case also uses nested attributes so I'd like your suggestion. I'm still trying to understand how Draftman works with 2-level associations, i.e.
Store has_many categories
Category has_many products

[2017-01-28 19:52] chrisdpeters commented on #48
I really don't see it being viable to add nested attribute support to Draftsman.

These would be the 2 possible solutions that I can think of. (Maybe someone can propose something better):

1.  Override/monkey-patch Rails's nested attributes implementation to call `save_draft` instead of `save` under the hood.
2.  Implement a separate Draftsman-specific implementation of `accepts_nested_attributes

[2017-01-28 21:02] jorgepinon commented on #48
I think I can make the ux work without nested attributes as long as child and grandchildren can also be saved with the draft and are publishable

[2017-02-03 14:27] NullVoxPopuli commented on #48
I think I have a solution to the nested attributes problem:

I have a module:
[code]

Tests:

[code]

Setup:

[code]

There is all or nothing at the moment.
I currently can't delete a nested object while updating the parent.

[2017-02-03 14:50] NullVoxPopuli commented on #48
actually, `_destroy` is actually stored on the models, so I just need to change `_invoke_on_relation`, and then I'll have all the use cases for nested_attributes

[2017-02-03 14:55] NullVoxPopuli commented on #48
Ok, I have deleting children while updating the parent working.

Here is the final module:
[code]

[2017-02-03 16:00] chrisdpeters commented on #48
@NullVoxPopuli Looks great. My favorite part of running an open source project like this is being schooled by contributors. :)

I'll sit on this one little bit and think about its implications for the design of the overall API. Maybe there's a way to mix this logic into the base `#save_draft`, `#draft_destruction` and `#publish!` if, for example, `.has_drafts` can have an option similar to your pr

[2017-02-03 16:07] NullVoxPopuli commented on #48
Thanks! :-)

well, a huge downside is this has to touch every node / leaf in your tree. :-(
No way to just magically know what all the nodes are and if they have drafts ahead of time.

I strongly recommend people use https://github.com/salsify/goldiloader for implicit eager loading.

[2017-02-03 16:19] NullVoxPopuli opened #59 "Reasons for failure"
It would be nice if save_draft could add to errors
or have an optional mode where it could raise an exception in development mode so I knew why something wasn't working :-(

[2017-02-07 14:58] chrisdpeters commented on #59
@NullVoxPopuli I could see how this could be a problem with callbacks that fail. Are you able to give any specific example where this has been a problem for you?

[2017-02-17 20:58] NullVoxPopuli opened #60 "Is there a way to not mark as trashed on relationships when calling draft_destruction?"
My situation is that I have a tree structure, and when I trash one node, I want to stitch that node's children to the node's parent node.

Currently, when I call `draft_destruction`, all of the children nodes are also trashed.

[2017-02-20 19:01] chrisdpeters commented on #60
@NullVoxPopuli Can you explain a scenario where it makes sense to do this? If a child depends on a parent for its existence, why wouldn't we trash it too?

You may already be aware of this, but I will note that Draftsman will only trash the children if you have `dependent: :destroy` set on the association. (See [model.rb#L294](https://github.com/liveeditor/draftsman/blob/master/lib/draftsman/model

[2017-02-20 19:03] chrisdpeters commented on #60
Ahh, you did have an example in your post. I am guilty of just reading the headlines, I guess!

Can you create a `before_draft_destruction` callback that reassigns the children before the parent record is trashed?

[2017-02-20 19:03] NullVoxPopuli commented on #60
yeah -- for now I removed `dependent: :destroy`

since I have migrated my draftable models to be a tree, I don't think I want `dependent: :destroy` ever, actually (rather a delete node and stitch the deleted node's descendants to the deleted node's parent).

So... I'll re-open this later if a use case comes up.

[2017-02-20 19:03] #60 closed

[2017-02-20 19:04] NullVoxPopuli commented on #60
@chrisdpeters that's actually good idea if I want dependent destroy again. huh.

[2017-02-20 19:07] chrisdpeters commented on #60
@NullVoxPopuli Fair enough. Glad we could exchange ideas and come up with some possible solutions for this situation. 👍

[2017-03-14 03:35] andymcintosh commented on #59
Possibly related: Calling save_draft on a resource that already has a draft fails silently unless you run install with the `--with-changes` flag. It took quite a bit of trial and error to discover because this was the only output in the console, and the errors object on the resource was empty:

[code]

[2017-03-14 12:48] chrisdpeters opened #61 "Error saving draft on a resource that already has a draft"
As @andymcintosh pointed out in #59, there may be an issue with saving a draft on a resource that already has a draft when there is no `object_changes` column in the `drafts` table.

[2017-03-14 13:10] andymcintosh commented on #61
Thanks Chris, I considered making a new issue but wanted to collect a little more information. I have isolated the behavior in a simple (Dockerized) Rails app if that helps at all. I can find no discernible problems with using the '--with-changes' flag in my case, so I'm able to move forward. Just wanted to share what I learned.

[2017-03-14 13:15] chrisdpeters commented on #61
@andymcintosh For sure! I'm glad you commented on the other issue because it gives me a case to play around with for that issue.

[2017-03-21 20:34] andymcintosh opened #62 "Error when publishing a draft that has a polymorphic association if the association is nil"
I have a Slide class which _optionally_ belongs to an instance of a "slideable" class:

`belongs_to :slideable, polymorphic: true`

Line 79 of draft.rb assumes that calling `my_item.slideable_type` will always return a string that can be constantized to find the associated class.

`my_item.send(association.foreign_key.sub('_id', '_type')).constantize`

However, in my case, because I don't have `sl

[2017-03-21 21:33] andymcintosh commented on #62
Committed a fix to my fork. I'll put together tests and a pull request when I get a few minutes.

[2017-03-25 13:20] cderche opened #63 "Is there away to not destroy the draft after it is published?"

[2017-03-28 13:48] jmfederico commented on #61
For some reason track_object_changes_for_draft? is always returning true, even when the column does not exist.

[2017-03-28 15:49] jmfederico commented on #61
The problem is in line 400 of model.rb
[code]

Changing it to:
[code]

[2017-03-29 13:03] #61 closed

[2017-03-29 13:07] chrisdpeters commented on #63
Hello @cderche, can you explain this?

-  Generally, what you're trying to do, step by step
-  Result that you're expecting
-  Result you're observing

I can perhaps guess what you're asking, but I want to make sure that I understand fully.

[2017-04-20 23:20] andymcintosh commented on #48
@NullVoxPopuli I was unable to get this module to work as I expected. As far as I can tell, calling `save_draft` on the parent resource (called indirectly by `deep_save_draft!`) will actually commit the changes specified in the nested_attributes to the child resource in addition to creating a draft.

So, with your Question/QuestionOption example in the test file, I'm seeing that a draft exists for

[2017-05-31 10:12] chrisdpeters opened #69 "Integrate with appraisal gem"
https://github.com/thoughtbot/appraisal

[2017-09-14 17:06] nbashaw opened #73 "Rails 5 migration error"
The first line of the migration file it generate when you run `rails g draftsman:install` looks like this:

[code]

If you run `rake db:migrate` rails throws an error:

[code]
I think the error message says it all! The code outputted by the generator should not directly inherit from `ActiveRecord::Migration`.

[2017-10-31 10:33] huskylengcb commented on #73
`class CreateDrafts < ActiveRecord::Migration`changes`class CreateDrafts < ActiveRecord::Migration[5.1]`

[2017-10-31 10:34] huskylengcb commented on #73
`class CreateDrafts < ActiveRecord::Migration`
changes
`class CreateDrafts < ActiveRecord::Migration[5.1]`

[2017-11-27 08:20] Looooong commented on #48
Here is my module to make it work with nested attributes:

[code]

The idea here is that draft actions can be invoked implicitly using model attributes.

Here is the usage:

[code]

[2017-11-27 09:26] Looooong opened #75 "Draft#publish! should not skip model validations"
Or at least `publish!` should receive arguments that will be passed to `save`.

I have to validate that the record has to meet certain criteria when it is published but not when it is drafted.

[2017-11-29 08:52] Looooong commented on #75
I will make a PR for this by adding `save_options` with default `validate: false` to `draftsman_options` of the model class. How should I test this?

[2017-11-29 11:31] Looooong commented on #75
I have made a PR at #76 . Hope that will help.

[2017-12-23 06:18] jmfederico commented on #73
Actually, migrations were created for version 4.2, so you should change it to:
[code]

[2017-12-23 06:25] jmfederico opened #77 "Implement tests for migrations templates"
Since Rails 5.0 there are different migration APIs.
We need to test migrations against each compatible version of Rails.

Would avoid issues like #73

[2017-12-23 17:44] #73 closed

[2017-12-27 15:52] jmfederico commented on #26
Is this still an issue?

[2017-12-27 16:05] jmfederico commented on #75
Thanks for the PR! Makes sense.

Will review and commit.

[2017-12-27 16:12] jmfederico commented on #41
Handling files is not on the road map for now. Marking as won't.

A PR is always welcome.

[2017-12-27 16:12] #41 closed

[2018-01-21 21:56] DiscipleOfOne opened #78 "Multiple Changes"
Is there a way to build a queue of drafts for a single record? I know the behavior is that there is only one draft per record, do new drafts overwrite the old draft or is there some sort of queue that merges changes together similar to how git operates? I'm trying to use this to allow users to generate content and I don't want a problem to happen with not approving a draft in time so changes are l

[2018-01-22 23:26] #75 closed

[2018-01-22 23:27] jmfederico commented on #75
Merged.

[2018-01-22 23:40] jmfederico commented on #59
If you are able to provide a known failure scenario where an error is not being raised so I have a starting point, it would allow me to starting working on this.

[2018-01-22 23:51] jmfederico commented on #63
A solution could be to create a new draft as soon as one is published:

[code]

Would that work?

[2018-01-23 02:42] Looooong commented on #52
I think we should have an option to set custom dependencies, and it will disable automatic dependencies lookup if that option is set.

[2018-01-24 16:47] jmfederico commented on #69
- [x] ~~Integrate with [appraisal](https://github.com/thoughtbot/appraisal) or [gemika](https://rubygems.org/gems/gemika) gem~~
- [ ] Add simple Docker + RVM config for testing different Ruby versions and DBs locally

[2018-01-25 22:42] jmfederico commented on #78
Currently there is only one draft per record.

Workflow should be:
Create draft -> Edit exsting draft -> Edit existing draft -> Publish and delete draft.

So basically, when a record is edited, what should be edited is the current draft, if one exists.

There is a PR multiple drafts support (#71).

[2018-01-25 22:46] jmfederico commented on #78
Even with multiple drafts, there is currently no way to have a merging system.
When a draft is published, the record gets updated (overriden) with the data form the draft.

[2018-01-30 13:48] jmfederico commented on #30
Hi Nick

I am the new maintainer of Draftsman. I have been thinking about this issue, and have not been able to come to a conclusion. I am not sold on neither of the options yet.

I was wondering what your experience has been with this, and if you are now more inclined towards one of the options.

There is one other approach which is implementing a sort of confirmation, where in order for a "destr

[2018-03-10 01:41] andrewjaanuu opened #79 "Support Postgresql JSONB"
It should support PostgreSQL's JSONB data type.

[2018-03-10 01:43] jmfederico commented on #79
Hi
Thanks for the suggestion/request.

PR are welcome.

[2018-03-23 19:41] npafundi commented on #30
Hey @jmfederico, thanks for looping back around on this. I actually haven't been using Draftsman for quite some time; I moved on from the job where we put it in place. I recall that neither of the first two solutions above were very good (as described), which left the third (mediocre) idea. However, your ideas may be more reasonable.

Since I'm not really a stakeholder in it any more, I would say

[2019-01-09 08:49] ahharvey opened #83 "save_draft returns false on models having activestorage attachments"
I'm not sure whether this bug lies within Draftsman or my app, and I'm having trouble getting useful information to investigate further.

I'm posting here to check whether anyone else can replicate this.

A very simple test case:

[code]

1. Why would activestorage prevent Draftsman from saving drafts?
2. What is the best way to inspect the `save_draft` method and find out what is causing it to fa

[2019-01-09 12:31] jmfederico commented on #83
Draftman is not designed to handle attachments. This probbably should be better documented.

See #41 for details.

[2019-01-09 15:39] ahharvey commented on #83
Thanks @jmfederico for quick response.

Turns out that this was caused by a silly oversight. My User model contained a legacy `avatar` db column from a previous attachment system. This was obviously causing conflict. Renaming the column has solved everything.

My biggest challenge was getting any information back about what was causing `save_draft` to return false. I ended up temporarily monkey pa

[2019-01-31 12:41] SirRawlins opened #84 "Improve documentation for use with associations"
Great gem folks 👍

However, I'm struggling a little to see how to work this with draft associations, and I think it's something which could perhaps be covered in the documentation?

Let's say I have a draftable blog post, and a post can have various tags associated with it.

[code]

Drafting changes to the blog post in isolation is simple enough, I can change it's title, or correct some typos in i

[2019-02-04 13:35] jmfederico commented on #84
You mean edit a tag and make that tag a draft? If that that is the case, you should make Tag draftable:

[code]

You can then draft and publish Tags.

If that is not the case, please clarify.

[2019-02-04 14:24] SirRawlins commented on #84
@jmfederico thanks for the suggestion, that makes sense.

Do the `draft?` and `publish!` methods cascade? i.e. if I publish a post, will it publish all it's draft tags? Or vice-versa, will publishing a draft tag also publish its parent post?

[2019-02-04 14:35] jmfederico commented on #84
When you publish a child, and the parent is new (never published), the parent also gets published.

[2019-02-04 14:42] jmfederico commented on #84
Publishing the parent does not publish the child.

[2019-02-04 14:54] SirRawlins commented on #84
@jmfederico 👍 thanks, that makes a great deal of sense.

Let's imagine I have a many-to-many association (has_many :through), such as, tags -> taggings -> posts. Where tags already existing, but I want to 'draft' the assignment of them to any given blog post.

I presume I would add draftsman to the join model? And then I can draft and publish the links, and perhaps cleanup before publishing to rem

[2019-03-26 00:12] jmfederico opened #85 "Project status - new steward needed"
**Draftsman** is looking for a new Steward.
I no longer have the time to keep developing it.

Anyone who is interested in taking over please let me know.

[2019-04-30 19:26] copasetickid commented on #85
Hi 👋  @jmfederico  what exactly would go into taking this over? I'm considering using this for a feature and if I do it would make sense to maintain then. Otherwise, I'm considering using a state machine to implement my own solution as I have some concerns over the publish logic for associated models in this gem

https://github.com/jmfederico/draftsman/issues/84#issuecomment-460271169

[2019-04-30 19:35] jmfederico commented on #85
Hi 👋🏽 @copasetickid !

Well, to be honest I think all is needed is a person with genuine interest on taking over the project. If you are interested I would transfer ownership immediately.

I would also give you access project in RubyGems: https://rubygems.org/gems/draftsman

I honestly think this is a great gem, and served me well while I needed it. Hopefully you can keep it useful for you and oth

[2019-05-10 17:48] yasser-sobhy commented on #85
Hello @jmfederico I am interested too. I don't use this gem right now, but I was looking for a ruby project to contribute to and I think this gem is a really good one.

Please note that I may need your help to document few methods in the codebase which I didn't understand what they're doing. Please also note that I have contributed the multiple drafts feature https://github.com/jmfederico/draftsma

[2019-05-10 21:05] copasetickid commented on #85
@jmfederico  Sorry for the delay.  Yes, I'm still interested in taking over the project.

Would you able to provide any guidance while I get up to speed with the codebase? Is there a roadmap of features you were thinking of adding to this project or things that needed to be refactored?

Thanks 😄

[2019-05-20 03:17] #85 closed

[2019-05-20 03:23] jmfederico commented on #85
@copasetickid is the new maintainer for the project.

@yasser-sobhy I appreciate your interest 👍🏽. @copasetickid came first to the issue, so I gave her priority.

[2019-06-07 12:30] leewaa opened #86 "When calling `destroy` on a draft then draft_id still contains old id"
This caught my eye since for filtering I rely on the draft_id as it is much more performant querying the database directly.

However I noticed the `draft_id` attribute still contains the old id of the draft which was destroyed.  A simple `object.draft.destroy` causes this behaviour.

It would be nicer if the draft_id was nilled like any other active record object.

[2020-01-05 23:17] gillisd opened #89 "Is this still being maintained?"
I'm trying to use Rails 6, and it looks like the highest supported version is 5.2. If this works with Rails 6, can we bump the dependency to 6.0?

[2020-03-17 16:32] tlkiong commented on #89
@copasetickid Would it be possible to pass on to someone else to maintain this gem if you aren't going to be maintaining it?

[2020-03-27 07:35] jmfederico commented on #89
I am still one of the owners for https://rubygems.org/gems/draftsman.

From what I can see @copasetickid seems not to have the time to maintain this project, which is fine. If there is someone else willing to step up, and if a consensus is reached, I can add the new maintainer to https://rubygems.org/gems/draftsman.

The problem is that I have no control over this repo, so a fork would have to be

[2020-03-27 14:30] tlkiong commented on #89
@jmfederico I would very much love to take over this repo if everyone is ok with it.
The main reason is because I am planning to use this in my core product. But the thing that stopped me from using this is that the repo is no longer being maintained. IF we can get this going and if you can help guide me on this, I would very much love to take over this

[2020-03-27 14:33] copasetickid commented on #89
Sorry I've been busier than expected and I haven't had much time to focus on this as I would like. I've noticed PRs open to update this gem but no one has been able to get the build to pass for me to merge it in.

I'd be fine with passing this along since @tlkiong  seems to have more of need for it now that I have to time for.

[2020-07-13 20:59] ELepolt commented on #89
Any news here?

[2020-07-14 00:57] tlkiong commented on #89
@ELepolt Unfortunately, there isn't any. :(

[2020-07-14 20:50] jmfederico commented on #89
Ok, I can not do anything here on GitHub (no permissions over the repo) but I can add new mantainares on https://rubygems.org/gems/draftsman.

@ELepolt are you still interested?
Do you have a fork that can be used as the new home for the project?

[2020-07-14 21:13] ELepolt commented on #89
I do not. I'm very new to this repo at a new job looking to move up to Rails 6. I know there're a few other people who have forked it and updated it for Rails 6: https://github.com/copasetickid/draftsman/network

Maybe reaching out to them might be a decent idea?

[2020-07-14 21:17] jmfederico commented on #89
@tlkiong are you still interested?

[2020-10-27 13:34] alexanderkustov commented on #43
This issue is still present

[2020-12-28 06:47] tlynam commented on #43
Hi, I think we ran into the same issue with paper_trail and found the issue with ActiveSupport. https://github.com/paper-trail-gem/paper_trail/issues/1278
The issue was `IPAddr.new("127.0.0.1").to_json` => `{"family":2,"addr":2130706433,"mask_addr":4294967295}`

Here's the Rails issue https://github.com/rails/rails/issues/40932 and fix commit https://github.com/rails/rails/commit/e7d207f02fe8bf6e3

[2021-04-02 01:09] chagar commented on #89
From looking at the forks:
* @kremen /  https://github.com/kremen/draftsman might be a good candidate, but the updates are mostly maintenance for newer versions of Rails
* @evanshabsove / https://github.com/spectrum-md/draftsman is another viable candidate, but it's not updated for Rails 6, and it's unclear how much it changes expected behavior, or is customized for the specific application (spect

[2021-04-02 01:17] evanshabsove commented on #89
I wouldn't use my fork. The core of the gem works much the same but I've taken out a lot of code that I didn't agree with, mostly around saving/creating a draft.

Think of it more as a stripped down version of this gem.

We're actually removing it from our application in favor of a solution involving paper trail so our fork will be unused soon.

[2021-04-02 01:34] evanshabsove commented on #89
Happy to go over the changes I made though.

There was a lot of logic in the gem around drafts returning back to the original state of the parent object that I removed, and I think some around if the draft was made from a create.

[2021-04-02 05:14] tlkiong commented on #89
Sorry guys. I somehow didn't get any notification from @jmfederico.
I have built a version using papertrail though very specific to my own use case.
So, not at the moment. Thanks!

[2021-04-09 08:21] chriscz commented on #69
@jmfederico  Can look at using `passenger-docker` for this. I have a partially working docker file which does a capistrano deployment internally so not exactly matching your use-case, but the basics are there. See https://github.com/chriscz/capistrano-puma-test-app/blob/main/Dockerfile

[2021-04-21 13:28] cyri113 commented on #85
Hello, is this project actively maintained?

[2022-08-19 19:24] santiagodoldan commented on #89
[copasetickid](https://github.com/copasetickid) are there any plans to update this gem?